<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/produto.css">
  <title>Setup Node.js MVC</title>
</head>

<body>
  <h1>Criar Produto</h1>
  <form action="/adicionar-produto" method="post">

    <label for="name">Nome</label>
    <input type="text" name="name" id="name" placeholder="Digite o nome do produto">

    <label for="preco">Preço</label>
    <input type="text" name="preco" id="preco" placeholder="Digite o preço do produto">

    <button type="submit">Cadastrar</button>
  </form>
</body>

</html>